body{
    margin: 50px;
    padding: 35px;

}
.grid{
    
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    
    align-items: center;
}
.grid div { 
    height: 20px;
    width: 20px; 
    

}

.snake{
    background-color: rgb(221, 29, 189);
}
.apple{
    background-color:rgb(93, 226, 17);
    border-radius: 66px;
}
.start{
    padding: 13px;
    border-radius: 2px;
    border-style: none;
    background-color: indigo;
    color: white;
}
span{
    color: rgb(155, 13, 155);
}
.score{
    color: darkmagenta;
    padding: 13px;
}